<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <header class="is-justify-content-space-between is-align-content-center p-2">
    <h1 has-text-centered>
      Tech Blog
    </h1>
    {{#if logged_in}}
    <nav class="buttons">
      <button class="button is-primary" id="logout">logout</button>
    </nav>
    {{/if}}
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer class="has-text-centered is-size-4">
      <p class="has-text-dark">Welcome to the TechBlog</p>
  </footer>

  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}

</body>

</html>